<app-navbar> </app-navbar>

<!-- Carousel -->
<div class="container-fluid">
  <section class="slider">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          class="carousel-item active c1"
          style="
            background-image: url('https://unsplash.com/photos/VvQSzMJ_h0U/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM4MDk3MzY4&force=true&w=2400');
          "
        >
          <div class="container">
            <h3 style="color: antiquewhite">
              "There are always two people in every picture:<br />
              the photographer and the viewer."
            </h3>
            <p>__Ansel Adams</p>
          </div>
        </div>
        <div
          class="carousel-item c2"
          style="
            background-image: url('https://unsplash.com/photos/JjUyjE-oEbM/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM4MDk4OTMy&force=true&w=2400');
          "
        >
          <div class="container">
            <p>
              “The camera is an instrument that teaches people <br /><br />
              how to see without a camera.”
            </p>
          </div>
        </div>
        <div
          class="carousel-item c3"
          style="
            background-image: url('https://unsplash.com/photos/70YxSTWa2Zw/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NTV8fHNwb3J0c3xlbnwwfHx8fDE2MzgwOTgzMjc&force=true&w=2400');
          "
        >
          <div class="container">
            <p>
              “I really believe there are things nobody <br /><br />
              would see if I didn't photograph them.”
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</div>

<hr />
<!--Cards-->
<div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/sarang2.jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Sarang Raool</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/ameya.jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Ameya Ketkar</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/akhil (1).jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Akhil Darge</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/amruta.jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Amruta Patil</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/hrishikesh2.jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Hrishikesh Dalimbkar</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-7 mb-5">
    <div class="bg-white rounded shadow-sm">
      <div class="row">
        <img
          src="../../../../assets/Namita.jpeg"
          alt=""
          class="img-fluid card-img-top"
        />
      </div>
      <div class="p-4">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            rounded-pill
            bg-dark
            px-3
            py-2
            mt-4
          "
        >
          <h5><a href="#" class="text-dark">Namita Kautkar</a></h5>

          <div class="badge badge-primary px-3 rounded-pill font-weight-normal">
            Full Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END-->
</div>

<hr />
<!-- Container (Contact Section) -->
<!--Section: Contact v.2-->
<section class="container-fluid">
  <div class="card">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
      Do you have any questions? Please do not hesitate to contact us directly.
      Our team will come back to you within a matter of hours to help you.
    </p>

    <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-md-2 mb-5" style="margin-left: 10%">
        <form
          id="contact-form"
          name="contact-form"
          action="mail.php"
          method="POST"
        >
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="name" name="name" class="form-control" />
                <label for="name" class="">Your name</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                />
                <label for="email" class="">Your email</label>
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="subject"
                  name="subject"
                  class="form-control"
                />
                <label for="subject" class="">Subject</label>
              </div>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-12">
              <div class="md-form">
                <textarea
                  type="text"
                  id="message"
                  name="message"
                  rows="2"
                  class="form-control md-textarea"
                ></textarea>
                <label for="message">Your message</label>
              </div>
            </div>
          </div>
          <!--Grid row-->
        </form>

        <div class="text-center text-md-left">
          <div class="btn btn-primary">Send</div>
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!-- Grid column-->
      <!-- <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Pune,411051,INDIA</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 91 234 567 89</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@DeccanSportClub.com</p>
                    </li>
                </ul>
            </div> -->
      <!--Grid column -->
    </div>
  </div>
</section>

<hr />

<!-- footer -->
<app-footer> </app-footer>
