<div class="row" style="width: 100%">
  <div class="col-sm-2">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col-sm-10">
    <br /><br />
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h3><i>Pending Batches</i></h3>
            <h2 class="text-right">
              <i class="f-left">
                <img
                  src="https://img.icons8.com/material/50/ffffff/football.png" /></i
              ><span>{{ pendingBatches.length }}</span>
            </h2>
            <p class="m-b-0"><span class="f-right"> </span></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h3><i>Enrolled Batches</i></h3>
            <h2 class="text-right">
              <i class="f-left"
                ><img
                  src="https://img.icons8.com/material-rounded/48/ffffff/batch-assign.png" /></i
              ><span>{{ enrolledBatches.length }}</span>
            </h2>
            <p class="m-b-0"><span class="f-right"> </span></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h3 class="m-b-20"><i>Rejected Batches</i></h3>
            <h2 class="text-right">
              <i class="f-left"
                ><img
                  src="https://img.icons8.com/ios-filled/50/ffffff/fail.png" /></i
              ><span>{{ rejectedBatches.length }}</span>
            </h2>
            <p class="m-b-0"><span class="f-right"> </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
