@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
::-moz-selection {
    /* Code for Firefox */
    background: #0AC2FF;
}

.sectionTitle {
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Passion One';
    margin-bottom: 42px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    color: white;
}

.sectionTitle-color {
    color: #0AC2FF;
}

.sub-content {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.h1 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.h1 {
    font-size: 2.5rem;
}

.h1 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.demo-table {
    width: 70%;
    background-color: #ffffff;  //table background
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-cell {
    color: rgb(12, 12, 12) !important;
    font-family: "Poppins", sans-serif;
}

.mat-header-cell {
    border-bottom: 2px solid #0e0d0d;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(12, 12, 12) !important;
    padding: 0.75rem;
    border-top-left-radius: 2px solid #0AC2FF;
}

.mat-row:hover .mat-cell {
    background: #0AC2FF;
    box-shadow: 0px 20px 60px 0px rgb(0 188 212 / 30%);
}

.demo-row-is-clicked {
    font-weight: bold;
}

tr:hover{
    background-color: #0AC2FF;
}