<app-navbar></app-navbar>

<div class="login-dark">
    <form style="background-color: #15202b" action="user?action=login" method="post">
        <h2 class="sr-only">Login Form</h2>
        <span style="color: red"></span>
        <div class="illustration">
            <i class="icon ion-ios-locked-outline"></i>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="email" required />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password"  [(ngModel)]="password" required  />
        </div>

        <!-- <p *ngIf="loginError">{{LoginErrorMessage()}}</p> -->


        <div class="form-group">
            <input type="checkbox" value="Remember Me" (change)="rememberMe($event)" /> Remember Me
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="onLogin()" type="submit">
        Log In
      </button>
        </div>
        <div class=".rc-anchor-normal">
            <ngx-recaptcha2 class=".rc-anchor-normal" #captchaElem style="background-color: #15202b;" [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
        </div>

        <b><a style="color: white" routerLink="/register" class="forgot">New User? Click here to register</a></b>
        <b><a  routerLink="/otp/FORGET"  class="forgot">Forget Password? Click here to reset </a></b>
    </form>
</div>