<div >
    <app-feedback></app-feedback>
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a  >Web design</a></li>
                        <li><a  >Development</a></li>
                        <li><a  >Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a  >Company</a></li>
                        <li><a  >Team</a></li>
                        <li><a  >Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Cybage</h3>
                    <p>Cybage is a global software product engineering services organization, that designs and provides services in technology, strategy, and operations. Our scientifically- driven, data-oriented, and delivery-focused approach enables us
                        to spot unmet needs, deliver concrete breakthrough products and services, and make organizations more innovative and agile.</p>
                </div>
                <div class="col item social">
                    <a  ><i class="icon ion-social-facebook"></i></a><a  ><i class="icon ion-social-twitter"></i></a><a  ><i
                        class="icon ion-social-snapchat"></i></a><a  ><i
                        class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Company Name © 2021</p>
        </div>
    </footer>
</div>
